// Navigation code here
.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    background-color: @wild-sand;
    margin-top: 1%;

    h2 {
        padding: 20px;
        margin-left: 650px;
        font-size: 4rem;
    }//closing h2

    nav {
        margin-left: 600px;
        justify-content: space-between;
        margin-bottom: 10px;

        a {
            padding: 15px;
            text-decoration: none;
            color: @shuttle-gray;
            font-size: 1.8rem;
        }
    }//closing nav

}//closing navigation