// Navigation code here
.navigation {
    .custom-nav(flex, center);
}

.navigation {

    @media @mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;

    }
    
    h2 {
        padding: 20px;
        margin-left: 630px;
        font-size: 4rem;

        @media @mobile {
            margin-left: 90px;
        }
    }//closing h2

    nav {
        margin-left: 580px;
        justify-content: space-between;
        margin-bottom: 10px;

        @media @mobile {
            margin-left: 50px;
            justify-content: space-between;
        }

        a {
            padding: 15px;
            text-decoration: none;
            color: @shuttle-gray;
            font-size: 1.8rem;

        @media @mobile {
            padding: 10px;
    
        }
        }//closing a
    }//closing nav
}//closing navigation